### Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv("Datasets/KenPom Barttorvik.csv")
df.head()

,YEAR,CONF,CONF ID,QUAD NO,QUAD ID,TEAM NO,TEAM ID,TEAM,SEED,ROUND,...,BADJT RANK,AVG HGT RANK,EFF HGT RANK,EXP RANK,TALENT RANK,FT% RANK,OP FT% RANK,PPPO RANK,PPPD RANK,ELITE SOS RANK
0,2024,MAC,17,61,1,1079,2,Akron,14,0,...,276,238,199,19,176,164,47,122,51,249
1,2024,SEC,28,63,3,1078,3,Alabama,4,0,...,13,33,8,156,106,10,314,2,263,7
2,2024,P12,24,63,3,1077,8,Arizona,2,0,...,16,50,37,196,7,195,134,8,14,47
3,2024,SEC,28,64,4,1076,12,Auburn,4,0,...,58,86,76,127,69,59,284,12,8,69
4,2024,B12,7,63,3,1075,14,Baylor,3,0,...,274,31,22,304,34,97,254,15,155,1

In [3]:
df.columns

Index(['YEAR', 'CONF', 'CONF ID', 'QUAD NO', 'QUAD ID', 'TEAM NO', 'TEAM ID',
       'TEAM', 'SEED', 'ROUND',
       ...
       'BADJT RANK', 'AVG HGT RANK', 'EFF HGT RANK', 'EXP RANK', 'TALENT RANK',
       'FT% RANK', 'OP FT% RANK', 'PPPO RANK', 'PPPD RANK', 'ELITE SOS RANK'],
      dtype='object', length=103)

In [27]:
X = df.drop(['TEAM', 'WIN%', 'CONF','CONF ID','QUAD NO', 'QUAD ID','TEAM NO','TEAM ID','ROUND','YEAR','GAMES','W','L'], axis=1)  
y = df['WIN%']
X.head()

,SEED,K TEMPO,K TEMPO RANK,KADJ T,KADJ T RANK,K OFF,KO RANK,KADJ O,KADJ O RANK,K DEF,...,BADJT RANK,AVG HGT RANK,EFF HGT RANK,EXP RANK,TALENT RANK,FT% RANK,OP FT% RANK,PPPO RANK,PPPD RANK,ELITE SOS RANK
0,14,66.7747,274,65.8933,268,107.841,122,107.009,162,99.7096,...,276,238,199,19,176,164,47,122,51,249
1,4,74.1625,7,72.6461,9,121.712,2,125.601,2,108.0310,...,13,33,8,156,106,10,314,2,263,7
2,2,73.3760,11,71.8379,16,117.653,10,121.125,8,96.9086,...,16,50,37,196,7,195,134,8,14,47
3,4,70.9629,54,69.7887,58,117.364,14,120.579,10,95.7924,...,58,86,76,127,69,59,284,12,8,69
4,3,66.8428,270,65.6032,281,117.262,15,122.490,6,104.1660,...,274,31,22,304,34,97,254,15,155,1

In [10]:
X.columns

Index(['SEED', 'K TEMPO', 'K TEMPO RANK', 'KADJ T', 'KADJ T RANK', 'K OFF',
       'KO RANK', 'KADJ O', 'KADJ O RANK', 'K DEF', 'KD RANK', 'KADJ D',
       'KADJ D RANK', 'KADJ EM', 'KADJ EM RANK', 'BADJ EM', 'BADJ O', 'BADJ D',
       'BARTHAG', 'EFG%', 'EFG%D', 'FTR', 'FTRD', 'TOV%', 'TOV%D', 'OREB%',
       'DREB%', 'OP OREB%', 'OP DREB%', 'RAW T', '2PT%', '2PT%D', '3PT%',
       '3PT%D', 'BLK%', 'BLKED%', 'AST%', 'OP AST%', '2PTR', '3PTR', '2PTRD',
       '3PTRD', 'BADJ T', 'AVG HGT', 'EFF HGT', 'EXP', 'TALENT', 'FT%',
       'OP FT%', 'PPPO', 'PPPD', 'ELITE SOS', 'WAB', 'BADJ EM RANK',
       'BADJ O RANK', 'BADJ D RANK', 'BARTHAG RANK', 'EFG% RANK', 'EFGD% RANK',
       'FTR RANK', 'FTRD RANK', 'TOV% RANK', 'TOV%D RANK', 'OREB% RANK',
       'DREB% RANK', 'OP OREB% RANK', 'OP DREB% RANK', 'RAW T RANK',
       '2PT% RANK', '2PT%D RANK', '3PT% RANK', '3PT%D RANK', 'BLK% RANK',
       'BLKED% RANK', 'AST% RANK', 'OP AST% RANK', '2PTR RANK', '3PTR RANK',
       '2PTRD RANK', '3PTRD RANK', 'BADJT RANK', 'AVG HGT RANK',
       'EFF HGT RANK', 'EXP RANK', 'TALENT RANK', 'FT% RANK', 'OP FT% RANK',
       'PPPO RANK', 'PPPD RANK', 'ELITE SOS RANK'],
      dtype='object')

In [30]:
X['3PTR']

0       41.5
1       46.8
2       32.6
3       37.5
4       38.3
        ...
1074    35.0
1075    32.4
1076    31.7
1077    31.1
1078    37.1
Name: 3PTR, Length: 1079, dtype: float64

In [11]:
X = (X-X.mean())/X.std() #standardize it babyyyy
X.head()

,SEED,K TEMPO,K TEMPO RANK,KADJ T,KADJ T RANK,K OFF,KO RANK,KADJ O,KADJ O RANK,K DEF,...,BADJT RANK,AVG HGT RANK,EFF HGT RANK,EXP RANK,TALENT RANK,FT% RANK,OP FT% RANK,PPPO RANK,PPPD RANK,ELITE SOS RANK
0,1.119799,-0.276863,0.933264,-0.098782,0.880015,-0.208617,0.768699,-0.797716,1.393500,0.475892,...,0.951002,1.120662,0.704332,-1.401667,0.827985,0.194071,-1.195989,0.754646,-0.461818,1.379647
1,-1.020614,2.065951,-1.634170,2.042174,-1.622069,2.553787,-1.081391,2.305939,-0.974423,2.296110,...,-1.587565,-0.984124,-1.256402,-0.005440,0.076736,-1.393170,1.472278,-1.083627,2.595867,-1.009457
2,-1.448697,1.816537,-1.595706,1.785936,-1.554445,1.745439,-0.958052,1.558738,-0.885626,-0.136797,...,-1.558608,-0.809580,-0.958699,0.402217,-0.985744,0.513580,-0.326553,-0.991713,-0.995471,-0.614564
3,-1.020614,1.051296,-1.182224,1.136243,-1.148702,1.687885,-0.896382,1.467592,-0.856027,-0.380953,...,-1.153210,-0.439960,-0.558340,-0.300992,-0.320352,-0.888139,1.172473,-0.930437,-1.082009,-0.397373
4,-1.234656,-0.255268,0.894800,-0.190757,1.005602,1.667571,-0.880965,1.786604,-0.915225,1.450683,...,0.931698,-1.004658,-1.112684,1.502892,-0.695976,-0.496482,0.872668,-0.884480,1.038179,-1.068691

In [12]:

# label_encoder = LabelEncoder()
# X['Team_encoded'] = label_encoder.fit_transform(df['TEAM'])

# split into into training and testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=0)

# Fit 
model = LinearRegression()
model.fit(X_train, y_train)
R2train = model.score(X_train, y_train)
print("Train R^2 score:", R2train)
# Score
R2 = model.score(X_test, y_test)
print("Test R^2 score:", R2)

Train R^2 score: 0.9821810884290195
Test R^2 score: 0.9777315918867652

In [31]:
coefs = pd.Series(model.coef_, X.columns)
coefs

SEED             -0.476624
K TEMPO          -1.446330
K TEMPO RANK     -2.104050
KADJ T            2.132772
KADJ T RANK       1.951866
                    ...
FT% RANK          0.150024
OP FT% RANK       0.260254
PPPO RANK         0.423340
PPPD RANK         1.822266
ELITE SOS RANK    1.290955
Length: 90, dtype: float64