### Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
shootingsplits = pd.read_csv("Datasets/Shooting Splits.csv")
shootingsplits

,YEAR,TEAM NO,TEAM ID,TEAM,CONF,DUNKS FG%,DUNKS SHARE,DUNKS FG%D,DUNKS D SHARE,CLOSE TWOS FG%,...,CLOSE TWOS FG%D RANK,CLOSE TWOS D SHARE RANK,FARTHER TWOS FG% RANK,FARTHER TWOS SHARE RANK,FARTHER TWOS FG%D RANK,FARTHER TWOS D SHARE RANK,THREES FG% RANK,THREES SHARE RANK,THREES FG%D RANK,THREES D SHARE RANK
0,2024,1079,2,Akron,MAC,97.2,6.8,90.6,5.6,62.8,...,179,209,31,205,239,195,276,71,14,170
1,2024,1078,3,Alabama,SEC,81.9,9.5,89.2,7.3,63.1,...,265,218,299,361,106,185,40,19,67,164
2,2024,1077,8,Arizona,P12,91.2,11.9,89.3,5.9,63.3,...,158,17,234,241,154,328,23,295,149,219
3,2024,1076,12,Auburn,SEC,87.7,13.2,87.1,4.7,61.7,...,2,322,98,293,12,163,113,180,9,52
4,2024,1075,14,Baylor,B12,89.2,11.6,91.8,7.2,65.7,...,359,14,249,144,244,356,7,153,153,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944,2010,135,235,West Virginia,BE,95.0,2.8,95.2,4.6,62.7,...,97,199,148,143,119,175,192,110,83,168
945,2010,134,239,Winthrop,BSth,87.1,2.3,83.3,4.0,60.9,...,290,36,206,5,47,276,347,307,19,269
946,2010,133,240,Wisconsin,B10,93.0,4.1,81.5,2.3,61.0,...,13,54,6,147,336,340,103,42,183,11
947,2010,132,241,Wofford,SC,78.9,1.5,97.2,2.9,55.1,...,124,220,222,328,139,203,125,223,38,94
948,2010,131,244,Xavier,A10,90.4,6.6,93.3,4.0,62.0,...,191,121,145,235,67,252,41,183,12,123

In [3]:
kpbar = pd.read_csv("Datasets/KenPom Barttorvik.csv")
kpbar

,YEAR,CONF,CONF ID,QUAD NO,QUAD ID,TEAM NO,TEAM ID,TEAM,SEED,ROUND,...,BADJT RANK,AVG HGT RANK,EFF HGT RANK,EXP RANK,TALENT RANK,FT% RANK,OP FT% RANK,PPPO RANK,PPPD RANK,ELITE SOS RANK
0,2024,MAC,17,61,1,1079,2,Akron,14,0,...,276,238,199,19,176,164,47,122,51,249
1,2024,SEC,28,63,3,1078,3,Alabama,4,0,...,13,33,8,156,106,10,314,2,263,7
2,2024,P12,24,63,3,1077,8,Arizona,2,0,...,16,50,37,196,7,195,134,8,14,47
3,2024,SEC,28,64,4,1076,12,Auburn,4,0,...,58,86,76,127,69,59,284,12,8,69
4,2024,B12,7,63,3,1075,14,Baylor,3,0,...,274,31,22,304,34,97,254,15,155,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074,2008,BE,8,1,1,5,235,West Virginia,7,16,...,225,18,115,181,61,209,16,22,32,49
1075,2008,SB,26,1,1,4,236,Western Kentucky,12,16,...,111,160,179,55,131,127,214,27,28,203
1076,2008,BSth,10,4,4,3,239,Winthrop,13,64,...,301,231,206,89,236,339,190,170,12,179
1077,2008,B10,6,3,3,2,240,Wisconsin,3,16,...,301,51,35,98,12,118,117,60,2,57
1078,2008,A10,1,1,1,1,244,Xavier,3,8,...,225,149,92,63,147,20,86,4,44,85

In [4]:
teamresults = pd.read_csv("Datasets/Team Results.csv")
teamresults

,TEAM ID,TEAM,PAKE,PAKE RANK,PASE,PASE RANK,GAMES,W,L,WIN%,R64,R32,S16,E8,F4,F2,CHAMP,TOP2,F4%,CHAMP%
0,1,Abilene Christian,0.7,45,0.7,52,3,1,2,0.333,2,1,0,0,0,0,0,0,0.10%,0.00%
1,2,Akron,-0.9,179,-1.1,187,4,0,4,0.000,4,0,0,0,0,0,0,0,0.50%,0.00%
2,3,Alabama,-2.1,211,-2.9,220,10,5,5,0.500,5,3,2,0,0,0,0,2,48.40%,15.40%
3,4,Albany,-0.4,147,-0.3,138,3,0,3,0.000,3,0,0,0,0,0,0,0,0.00%,0.00%
4,6,American,-0.5,160,-0.4,150,3,0,3,0.000,3,0,0,0,0,0,0,0,0.20%,0.00%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,241,Wofford,-1.2,191,-0.9,175,6,1,5,0.167,5,1,0,0,0,0,0,0,3.60%,0.20%
232,242,Wright St.,-0.2,118,-0.2,119,2,0,2,0.000,2,0,0,0,0,0,0,0,0.00%,0.00%
233,243,Wyoming,-0.2,118,-0.5,159,1,0,1,0.000,1,0,0,0,0,0,0,0,0.00%,0.00%
234,244,Xavier,4.1,14,2.7,22,28,18,10,0.643,10,9,7,2,0,0,0,2,51.90%,8.70%
235,245,Yale,-0.1,91,0.2,71,4,1,3,0.250,3,1,0,0,0,0,0,0,3.00%,0.20%

In [5]:
heatchecktour = pd.read_csv("Datasets/Heat Check Tournament Index.csv")
heatchecktour

,YEAR,TEAM NO,TEAM,SEED,ROUND,POWER,PATH,DRAW,WINS,POOL VALUE,POOL S-RANK,NCAA S-RANK,VAL Z-SCORE,POWER-PATH
0,2024,1067,Connecticut,1,1,91.3,64.5,NaN,6,92.6,1,1,NaN,26.8
1,2024,1026,Stetson,16,64,47.1,91.0,NaN,0,0.5,64,62,NaN,-43.9
2,2024,1060,Florida Atlantic,8,64,69.3,73.2,NaN,0,9.0,28,31,NaN,-3.9
3,2024,1036,Northwestern,9,32,62.9,75.5,NaN,1,4.2,45,36,NaN,-12.6
4,2024,1029,San Diego St.,5,16,71.5,68.2,NaN,2,14.7,22,18,NaN,3.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,2013,336,VCU,5,32,70.8,73.3,-1.58,1,7.8,38,20,-1.170,-2.5
700,2013,335,Villanova,9,64,60.5,78.4,-1.20,0,3.0,52,38,-1.227,-17.9
701,2013,334,Western Kentucky,16,64,50.0,86.1,0.12,0,0.9,62,61,0.311,-36.1
702,2013,333,Wichita St.,9,4,68.7,81.1,-2.03,4,5.7,45,35,-0.553,-12.4
703,2013,332,Wisconsin,5,64,78.6,70.9,-0.42,0,30.5,13,19,0.533,7.7

In [6]:
heatchecktour.dropna()

,YEAR,TEAM NO,TEAM,SEED,ROUND,POWER,PATH,DRAW,WINS,POOL VALUE,POOL S-RANK,NCAA S-RANK,VAL Z-SCORE,POWER-PATH
64,2023,1011,Alabama,1,16,85.2,63.8,1.51,2,74.7,4,1,0.144,21.4
65,2023,1010,Arizona,2,64,80.9,65.3,0.65,0,57.5,7,7,-0.247,15.6
66,2023,1009,Arizona St.,11,64,60.2,75.2,-0.27,0,4.3,48,45,-0.714,-15.0
67,2023,1008,Arkansas,8,16,78.1,75.6,-0.60,2,23.1,19,30,2.032,2.5
68,2023,1007,Auburn,9,32,71.9,72.7,0.54,1,13.8,26,35,1.469,-0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,2013,336,VCU,5,32,70.8,73.3,-1.58,1,7.8,38,20,-1.170,-2.5
700,2013,335,Villanova,9,64,60.5,78.4,-1.20,0,3.0,52,38,-1.227,-17.9
701,2013,334,Western Kentucky,16,64,50.0,86.1,0.12,0,0.9,62,61,0.311,-36.1
702,2013,333,Wichita St.,9,4,68.7,81.1,-2.03,4,5.7,45,35,-0.553,-12.4
703,2013,332,Wisconsin,5,64,78.6,70.9,-0.42,0,30.5,13,19,0.533,7.7

In [7]:
sshct = pd.merge(shootingsplits,heatchecktour)
sshct
sshct.to_csv('ShootingSplits_HeatCheckTour.csv')

In [10]:
sshct

,YEAR,TEAM NO,TEAM ID,TEAM,CONF,DUNKS FG%,DUNKS SHARE,DUNKS FG%D,DUNKS D SHARE,CLOSE TWOS FG%,...,ROUND,POWER,PATH,DRAW,WINS,POOL VALUE,POOL S-RANK,NCAA S-RANK,VAL Z-SCORE,POWER-PATH
0,2024,1079,2,Akron,MAC,97.2,6.8,90.6,5.6,62.8,...,64,54.3,79.8,NaN,0,2.0,54,54,NaN,-25.5
1,2024,1078,3,Alabama,SEC,81.9,9.5,89.2,7.3,63.1,...,4,77.3,66.4,NaN,4,39.0,13,16,NaN,10.9
2,2024,1077,8,Arizona,P12,91.2,11.9,89.3,5.9,63.3,...,16,86.2,64.6,NaN,2,91.8,2,6,NaN,21.6
3,2024,1076,12,Auburn,SEC,87.7,13.2,87.1,4.7,61.7,...,64,81.8,67.0,NaN,0,49.6,9,15,NaN,14.8
4,2024,1075,14,Baylor,B12,89.2,11.6,91.8,7.2,65.7,...,32,80.6,65.5,NaN,1,51.5,8,9,NaN,15.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,2013,336,226,VCU,A10,88.0,5.2,88.1,4.8,59.8,...,32,70.8,73.3,-1.58,1,7.8,38,20,-1.170,-2.5
700,2013,335,228,Villanova,BE,74.6,6.1,85.5,4.9,55.5,...,64,60.5,78.4,-1.20,0,3.0,52,38,-1.227,-17.9
701,2013,334,236,Western Kentucky,SB,88.2,4.2,94.6,4.3,59.4,...,64,50.0,86.1,0.12,0,0.9,62,61,0.311,-36.1
702,2013,333,238,Wichita St.,MVC,86.8,4.9,89.5,3.0,63.6,...,4,68.7,81.1,-2.03,4,5.7,45,35,-0.553,-12.4
703,2013,332,240,Wisconsin,B10,86.7,6.4,80.4,3.6,59.2,...,64,78.6,70.9,-0.42,0,30.5,13,19,0.533,7.7

In [8]:
tourmatch = pd.read_csv("Datasets/Tournament Matchups.csv")
tourmatch

,YEAR,BY YEAR NO,BY ROUND NO,TEAM NO,TEAM,SEED,ROUND,CURRENT ROUND,SCORE
0,2024,2036,0,1067,Connecticut,1,1,64,NaN
1,2024,2035,0,1026,Stetson,16,64,64,NaN
2,2024,2034,0,1038,North Carolina,1,1,64,NaN
3,2024,2033,0,1055,Howard,16,64,64,NaN
4,2024,2032,0,1038,North Carolina,1,1,64,NaN
...,...,...,...,...,...,...,...,...,...
2031,2008,5,33,43,Kansas,1,1,4,84.0
2032,2008,4,32,37,Memphis,1,2,4,78.0
2033,2008,3,31,13,UCLA,1,4,4,63.0
2034,2008,2,2,43,Kansas,1,1,2,75.0
2035,2008,1,1,37,Memphis,1,2,2,68.0

In [9]:
tourmatch.dropna()

,YEAR,BY YEAR NO,BY ROUND NO,TEAM NO,TEAM,SEED,ROUND,CURRENT ROUND,SCORE
148,2023,1888,1888,1011,Alabama,1,16,64,96.0
149,2023,1887,1887,955,Texas A&M Corpus Chris,16,64,64,75.0
150,2023,1886,1886,979,Maryland,8,32,64,67.0
151,2023,1885,1885,945,West Virginia,9,64,64,65.0
152,2023,1884,1884,961,San Diego St.,5,2,64,63.0
...,...,...,...,...,...,...,...,...,...
2031,2008,5,33,43,Kansas,1,1,4,84.0
2032,2008,4,32,37,Memphis,1,2,4,78.0
2033,2008,3,31,13,UCLA,1,4,4,63.0
2034,2008,2,2,43,Kansas,1,1,2,75.0
2035,2008,1,1,37,Memphis,1,2,2,68.0